<html>
    <div id="createUserForm" align="center">
        <form [formGroup]="createUserForm">
            <input type="text" placeholder="username" formControlName="username">
            <input type="text" placeholder="first name" formControlName="fname">
            <input type="text" placeholder="last name" formControlName="lname">
            <input type="number" placeholder="age" formControlName="age">
            <button (click)="addUser();">create user</button>
        </form>
    </div>
</html>
